{{ define "main" }}
<title>{{ .Title }} - dmaivel</title>
  <script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
      },
      svg: {
        fontCache: 'global'
      }
    };
  </script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>    
  <!-- <br> -->
  <style>
    .landscape-check {
      display: none;
    }

    @media screen and (orientation:portrait) {
      .landscape-check {
        display: block;
      }
    }

    li { margin-bottom: 8px; }
  </style>
  <!-- <hr> -->
  <!--{{ .TableOfContents }}-->
  <div class="content">
    {{ .Content }}
  </div>
{{ end }}
