{{ define "main" }}
  <title>{{ .Title }} - dmaivel</title>
  <script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
      },
      svg: {
        fontCache: 'global'
      }
    };
  </script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>    

  <a href="/">home</a>
  <h1>{{ .Title }}</h1>
  <h4>({{ .Date.Format "2 Jan 2006" }}): <span style="font-weight: normal; font-style: italic;">{{ .Params.subtitle }} (~{{ .ReadingTime }} mins read)</span></h4>
  <!--{{ .TableOfContents }}-->
<details class="toc-container">
  <summary class="toc-header">table of contents</summary>
  <div class="toc-content">
    {{ .TableOfContents }}
  </div>
</details>
  {{ .Content }}
{{ end }}
