{{ define "main" }}
  <title>{{ .Title }} - dmaivel</title>
  <script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
      },
      svg: {
        fontCache: 'global'
      }
    };
  </script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>    
  <br>
  <style>
    .landscape-check {
      display: none;
    }

    @media screen and (orientation:portrait) {
      .landscape-check {
        display: block;
      }
    }
  </style>
  <div class="landscape-check" style="color: #ff5e6c; border: 1px solid #ff5e6c; padding: 4px; margin-bottom: 12px;">
    viewing in landscape mode is advised
  </div>
  <h1 style="margin-bottom: 0; margin-top: -8px;">{{ .Title }}</h1>
  <div style="font-family: Roboto, sans-serif; color: #aaa;">
    {{ .Date.Format "Jan 02, 2006" }} • {{ .WordCount }} words • {{ .ReadingTime }} mins • {{ if .Params.tags }}
      #{{ delimit .Params.tags ", #" }}
    {{ end }}
  </div>
  <!--{{ .TableOfContents }}-->
  <div class="content">
    {{ .Content }}
  </div>
{{ end }}
