<style>
    .nav_stuff {
        margin: auto;
        text-align: center;
        display: flex;
        justify-content: space-between;
        padding: 4px;
        /* background-color: #222; */
    }

    .nav-link {
        /* background-color: #fff; */
        /* color: white; */
        font-size: 16px;
        padding: 4px;
        border-radius: 4px;
        margin-right: 8px;
        margin-left: 8px;
    }

    .nav-link {
        display: flex;
        align-items: center;
        color: black;
        text-decoration: none;
        /* padding: 0.5rem 1rem; */
        transition: background-color 0.3s;
    }

    .nav-link:hover {
        background-color: inherit;
    }

    .nav-icon {
        width: 24px;
        height: 24px;
    }

    .home {
        color: #ddd;
    }
    .home:hover {
        color: #a78bfa;
    }
</style>

<div class="nav_stuff">
    <h2 style="margin-bottom: 0; margin-top: 0; text-decoration: underline; text-decoration-color: #a78bfa; font-size: 24px;">
        <a class="home" href="/" style="text-decoration-color: #a78bfa; font-family: 'Roboto Slab'; font-size: 42px;">λ</a>
    </h2>
    <div style="justify-content: center; display: flex; gap: 16px">
        <h2 style="margin-bottom: 0; margin-top: 0; text-decoration: underline; text-decoration-color: #a78bfa; font-size: 24px;">
            <a class="home" href="https://github.com/dmaivel" style="text-decoration-color: #a78bfa; font-family: 'Roboto Slab'; font-size: 20px;">github</a>
        </h2>
        <h2 style="margin-bottom: 0; margin-top: 0; text-decoration: underline; text-decoration-color: #a78bfa; font-size: 24px;">
            <a class="home" href="/about" style="text-decoration-color: #a78bfa; font-family: 'Roboto Slab'; font-size: 20px;">about</a>
        </h2>
    </div>
</div>

<br>
