{{ $type := .Get "type" | default "note" }}
<span class="responsive-note {{ $type }}">
  <span class="popup-note">
    <button 
      class="note-toggle" 
      aria-expanded="false"
      aria-controls="note-{{ .Ordinal }}"
    >{{ .Get "title" | markdownify }}</button><span 
      id="note-{{ .Ordinal }}" 
      class="note-content" 
      role="region" 
      aria-hidden="true">{{ .Inner | markdownify }}</span></span></span><span class="sidenote-version"><span class="sidenote-trigger" style="text-decoration: underline; text-decoration-style: solid; text-underline-offset: 3px;">{{ .Get "title" | markdownify }}</span><span class="sidenote"><small>{{ .Inner | .Page.RenderString }}</small></span></span>