<style>
.line {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
  padding-left: 28px;
  counter-reset: greek-counter;
}

ul li {
  counter-increment: greek-counter;
  position: relative;
}

ul li::before {
  content: counter(greek-counter, lower-greek);
  color: #555;
  font-size: 24px;
  position: absolute;
  left: -20px;
}
.blog-summary {
  position: relative;
  max-height: 80px;
  overflow: hidden;
  mask: linear-gradient(to bottom, black 0%, black 50%, transparent 100%);
  -webkit-mask: linear-gradient(to bottom, black 0%, black 50%, transparent 100%);
  color: #777;
}
</style>
<!-- <ul> -->
  {{ range (where .Site.RegularPages "Section" "posts").ByDate.Reverse }}
  <!-- background-color: #191919; padding: 16px; border-radius: 2px; border: #303030 1px solid; -->
    <div style="margin-bottom: 48px;">
       <span style="color: #888; font-family: 'Roboto Slab'">{{ .Date.Format "Jan 2, 2006" }} • {{ .WordCount }} words • {{ .ReadingTime }} mins</span>
      <div class="line">
        <span><a style="font-family: Google Sans Flex; font-size: 52px; font-weight: bold;" href="{{ .RelPermalink }}">{{ .Title }}</a></span>
      </div>
      <div class="post-tags">
          {{ range .Params.tags }}
            <span class="tag">#{{ . }}</span>
          {{ end }}
      </div>
      <!-- <br> -->
       <br>
      <div class="blog-summary">
        {{ .Content | strings.Truncate 360 }}
      </div>
    </div>
  {{ end }}
<!-- </ul> -->
