<style>
.line {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style:lower-greek;
  padding-left: 28px;
}
ul li::marker {
  color: #555;
  font-size: 20px;
}
</style>
<ul>
  {{ range .Site.RegularPages.ByDate.Reverse }}
    <li>
       <div class="line">
        <span><a style="font-family: Roboto; font-size: 22px; font-weight: bold;" href="{{ .RelPermalink }}">{{ .Title }}</a></span>
        <span style="color: #888">
          {{ if .Params.tags }}
            #{{ delimit .Params.tags ", #" }}
          {{ end }}
        </span>
      </div>
      <span style="color: #bbb; font-family: Roboto">{{ .Date.Format "2 Jan 2006" }}</span>
    </li>
  {{ end }}
</ul>
